<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title>コメント編集</title>
</head>
<body>

<div th:insert="header :: header"></div>

<div class="page-title">
  <h2>コメント編集</h2>
</div>

  <form th:action="@{/issue/{issueId}/comment/{commentId}/update(issueId=${issue.id},commentId=${comment.id})}" th:method="post" th:object="${comment}">
　　<label>メッセージ</label>
     <input th:field="*{message}" type="text" required="required">
     <!--        <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>-->
     <input type="submit" value="更新">
  </form>

</body>
</html>