<html xmlns:th="http://www.thymeleaf.org" th:fragment="commentShow">

<div class="page-title">
    <h2>コメント</h2>
</div>

<div class="comment-area">

    <div th:if="${#lists.isEmpty(comments)}">
        <p class="no-comment">コメントはまだありません。</p>
    </div>

    <div class="comment-wrapper" th:each="comment:${comments}">
        <div class="comment-top">
            <p><div th:text="${comment.user.username}"></div>さん</p>
        </div>
        <div class="comment-content" th:text="${comment.message}"></div>
        <div class="bottom-button" th:if="${#authentication.name == comment.user.username}">
            <a class="comment-update" th:href="@{/issue/{issueId}/comment/{commentId}/edit(issueId=${issue.id},commentId=${comment.id})}">更新</a>
            <form th:action="@{/issue/{issueId}/comment/{commentId}/delete(issueId=${issue.id},commentId=${comment.id})}" method="post">
                <input class="comment-delete" type="submit" value="削除">
            </form>

    </div>
</div>

</div>


</html>

<!--<div class="page-title">-->
<!--    <h2>コメント</h2>-->
<!--</div>-->

<!--<table class="comment-table" th:fragment="commentList(comment)">-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>投稿者</th>-->
<!--        <th>メッセージ</th>-->
<!--        <th>更新</th>-->
<!--        <th>削除</th>-->
<!--    </tr>-->
<!--    <tr th:each="comment:${comments}">-->
<!--        <td th:text="${comment.id}"></td>-->
<!--        <td th:text="${comment.user.username}"></td>-->
<!--        <td th:text="${comment.message}"></td>-->
<!--        <div th:if="${#authentication.name == comment.user.username}">-->
<!--            <td><a class="update-button" th:href="@{/issue/{issueId}/comment/{commentId}/edit(issueId=${issue.id},commentId=${comment.id})}">更新</a></td>-->
<!--            <form th:action="@{/issue/{issueId}/comment/{commentId}/delete(issueId=${issue.id},commentId=${comment.id})}" method="post">-->
<!--                <td><input class="delete-button" type="submit" value="削除"></td>-->
<!--            </form>-->
<!--        </div>-->
<!--    </tr>-->
<!--</table>-->

<!--<div th:if="${#authentication.name != 'anonymousUser'}">-->
<!--    &lt;!&ndash; ログイン済みユーザーの場合のみ表示 &ndash;&gt;-->
<!--    <form th:action="@{/issue/{issueId}/comment(issueId=${issue.id})}" th:method="post" th:object="${comment}">-->
<!--        <label>コメント</label>-->
<!--        <div th:if="${errors != null}" th:each="error : ${errors}">-->
<!--            <p th:text="${error.defaultMessage}"></p>-->
<!--        </div>-->
<!--        <input th:field="*{message}" type="text" required="required" >-->
<!--        <input type="submit" value="登録">-->
<!--    </form>-->

<!--</div>-->