<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

<header>
    <div class="header-container">
        <a class="app-name" th:href="@{/}">IssueApp</a>

        <!-- ログイン時 -->
        <div class="user-info"  th:if="${#authorization.expression('isAuthenticated()')}">
            <p><span th:text="${#authentication?.name}"></span>さん</p>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="ログアウト"/>
            </form>
        </div>

        <!-- 非ログイン時 -->
        <div class="login-info" th:if="${#authorization.expression('!isAuthenticated()')}">
            <a th:href="@{/login}">ログイン</a>
        </div>

    </div>
</header>
</html>
