<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title>Title</title>
</head>

<body>

<div th:insert="header :: header"></div>

<div class="page-title">
    <h1>ログイン</h1>
</div>

<div class="form">

    <p th:if="${param.error}" class="login-error" th:text="${loginError}"></p>
        <form th:action="@{/login}" method="post">
            <label for="username">名前</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" required="required" />
            </br>
            <label for="password">パスワード</label>:
            <input type="password" id="password" name="password" required="required" />
            <input type="submit" value="ログイン" />
        </form>
</div>

</body>
</html>
